{% extends "alby/catalog/product-detail.html" %}
{% load i18n cms_tags thumbnail static sekizai_tags sass_tags %}

{% block main-content %}
{% include "shop/catalog/bsp-scrollpanel.tmpl.html" %}
{% thumbnail product.images.first 250x250 crop as thumb %}
<div class="container">
	<div class="row product-detail">
		<div class="col-xs-12 col-md-5">
		<div class="product-slider">
			{% for img in product.images.all %}
				<div><img src="{{ img.url }}" alt="{{ product.product_name }}" /></div>
			{% endfor %}
		</div>
	</div>
		<div class="col-xs-12 col-md-6" shop-add-to-cart="{% block add-to-cart-url %}{{ product.get_absolute_url }}/add-to-cart{% endblock %}">
			<h3>{% render_model product "product_name" %}</h3>
		    <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">bestseller</span>
            <span class="badge badge-success product mb-4 ml-2">SALE</span>
			<p>Как по отцовской, так и по материнской линиям Хаксли принадлежал к британской культурной элите,
				давшей целый ряд выдающихся учёных, писателей, художников. Его отец — писатель Леонард Хаксли</p>
			<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" class="collapsed">
                    <h5 class="mb-0">
                      {% trans "Change product dimensions" %}
                      <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx" style="">
                  <div class="container-fluid">
					{% for key, value in product.alter_prop.items %}
						<div class="md-form md-outline">
							<input value="1"
								class="form-control" name="extra.{{ key }}" type="number" min="2" max="2000"
								ng-value="extra.{{ key }}"
								ng-init="extra.{{key}}={{ value }}"
								ng-model="extra.{{key}}"
								/>
							<label for="form1" style="bottom: 20px;">{% trans key %}</label>
						</div>
					{% endfor %}
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      {% trans "Details" %}
                      <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx" style="">
                  <div class="card-body">
						{{ product.caption|safe }}
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      {% trans "Shipping" %}
                      <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx" style="">
                  <div class="card-body">
						{{ product.description|safe }}
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
            </div>
			{% include "alby/catalog/add-parametric.html" with card_css_classes="mb-3" %}
		</div>
	</div>
    	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="tabbable tabs-below" ng-init="selectedTab = 1;">
				<ul class="nav nav-tabs nav-justified" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
					<li class="uib-tab nav-item ng-scope ng-isolate-scope" ng-class="{active: selectedTab == 1}" heading="{% trans "Информация о товаре" %}">
						<a href="" ng-click="selectedTab = 1;" class="nav-link ng-binding active" ng-class="{active: selectedTab == 1}">
                            {% trans "Информация о товаре" %}
                        </a>
					</li>
					<li class="uib-tab nav-item ng-scope ng-isolate-scope" ng-class="{active: selectedTab == 2,}">
						<a href="" ng-click="selectedTab = 2;" class="nav-link ng-binding" ng-class="{active: selectedTab == 2}">
                            {% trans "Технические характеристики" %}
                        </a>
					</li>
				</ul>
				<div class="tab-content" ng-if="selectedTab == 1">
					<div style="padding: 20px 0 20px 0;">
						{{ product.caption|safe }}
						{{ product.description|safe }}
					</div>
				</div>
				<div class="tab-content" ng-if="selectedTab == 2">
					<div style="padding: 20px 0 20px 0;">
						{% include "alby/catalog/parametric/product-parts-table.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
  <script type="text/javascript">
    $(document).ready(function(){
    jQuery('.product-slider').slick({
        slide: 'div',
        arrows: true,
        lazyLoad: 'ondemand',
        fade: true,
		touchMove: true,
		infinite:true,
		dots: true,
    	});
    });
  </script>
{% endblock main-content %}
