{% extends "alby/pages/default.html" %}
{% load cms_tags sekizai_tags sass_tags static %}

{% block title %}
	{% if product.product_title %}
		{{ product.product_title }}
	{% else %}
		{{ product.product_name }}
	{% endif %}
{% endblock %}

{% block breadcrumb %}{% with extra_ance=product.product_name %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% addtoblock "js" %}<script src="{% static 'node_modules/ui-bootstrap4/dist/ui-bootstrap-tpls.js' %}" type="text/javascript"></script>{% endaddtoblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% addtoblock "js" %}<script src="{% static 'shop/js/utils.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'alby/js/catalog.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'alby/css/catalog.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'alby/plugins/slick/slick.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'alby/plugins/slick/slick-theme.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% add_data "ng-requires" "django.shop.catalog" %}
{% add_data "ng-requires" "ui.bootstrap" %}
	{% if user.is_superuser %}
		<div class="text-lg-right small"><a href="/admin/alby/{{ product.product_model}}/{{ product.id}}/change/">Редактировать</a></div>
	{% endif %}
		{% include "shop/breadcrumb/default.html" %}
	{% endwith %}
{% endblock %}

{% block main-content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>{% render_model product "product_name" %}</h1>
			{# the first `render_placeholder` is only required for editing the page #}
			{% render_placeholder product.placeholder %}{% render_placeholder product.placeholder as product_details %}
			{% if not product_details %}
			<p class="lead">Edit this page, then switch into <em>Structure</em> mode and add plugins to placeholder <code> {{ product.placeholder.slot }} </code>.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock main-content %}
{% block endblock %}
{% addtoblock "js" %}<script src="{% static 'alby/plugins/slick/slick.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'alby/plugins/slick/angular/slick.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% add_data "ng-requires" "slick" %}
{% endblock %}
