{% load i18n %}{% spaceless %}
{# This template is shared between Django and AngularJS #}
<figure class="figure py-2 mb-4 hoverable">
	<div class="d-flex sale">
{#		<div class="btn">SALE</div>#}
	</div>
	<a {% if ng %}ng-href="{% templatetag openvariable %}product.product_url{% templatetag closevariable %}"{% else %}href="{{ product.product_url }}"{% endif %}>
		<div{% if ng %} ng-bind-html="product.media"{% endif %}>{{ product.media }}</div>
		<div class="card-body text-center mx-auto">
			<h5 class="card-title" {% if ng %} ng-bind="product.product_name"{% endif %}>{{ product.product_name }}</h5>
{#			<p class="card-text"{% if ng %} ng-bind="product.price"{% endif %}>{{ product.price }}</p>#}
		</div>
	</a>
</figure>
{% endspaceless %}
