<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Base title{% endblock %}
    </title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% block header %}{% endblock %}
</head>
<body>
{% block maincontent %}
    <div class="container">
        <div class="row shop-starter-template">
            <div class="col">
                <h1>Base Template</h1>
                <p class="lead">This document does not contain any content yet.</p>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>