{% extends "dxfgen/base.html" %}
{% block maincontent %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Index page</h1>
                <p class="lead">This document does not contain any content yet.</p>
            </div>
        </div>
    </div>
{% endblock %}