{% load i18n cms_tags thumbnail static sekizai_tags sass_tags alby_tags %}

<div class="col-xs-12 col-md-12">
        <table
				id="table"
				class="table parts-table"
		>
	<thead class="table-info">
      <tr class="table-info">
        <th class="filter align-middle">{% translate "Icon" %}</th>
        <th class="filter align-middle">{% translate "Name" %}</th>
        <th class="filter align-middle">{% translate "Width" %}</th>
        <th class="filter align-middle">{% translate "Height" %}</th>
        <th class="filter align-middle">{% translate "Thick" %}</th>
        <th class="filter align-middle">{% translate "Material" %}</th>
        <th class="filter align-middle">{% translate "Edge by Width" %}</th>
        <th class="filter align-middle">{% translate "Edge by Height" %}</th>
        <th class="filter align-middle">{% translate "area, mm2" %}</th>
        <th class="filter align-middle">{% translate "Texture" %}</th>
        <th class="filter align-middle">{% translate "Quantity" %}</th>
{#        <th class="filter align-middle">{% translate "Draft (dxf)" %}</th>#}
      </tr>
    </thead>
	<tbody>
	{% for part in data.param_fields %}
		<tr>
			<td><img class="part-icons" src="{{ part.part_img }}" /></td>
			<td>{{ part.name }}</td>
			<td>{{ part.dimens.1 }}</td>
			<td>{{ part.dimens.2 }}</td>
			<td>{{ part.dimens.0 }}</td>
			<td>{{ part.material }}</td>
			<td>{{ part.edges.width }}</td>
			<td>{{ part.edges.height }}</td>
			<td>{% get_area part.dimens.1 part.dimens.2 %}</td>
			<td>{{ part.texture }}</td>
			<td>{{ part.quantity }}
{#			<td><a href="{{ part.file_path }}">{% translate "Download" %}</a></td>#}
		</tr>
	{% endfor %}
    </tbody>
  </table>
</div>
