{% load i18n static cascade_tags sass_tags sekizai_tags %}
{% load page_url from cms_tags %}
{% load render_plugin from cascade_tags %}

{% addtoblock "css" %}<link href="{% sass_src 'shop/css/list-items.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'djng/js/django-angular.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{#<script src="{% static 'alby/plugins/smart-table/dist/excel-bootstrap-table-filter-bundle.js' %}" type="text/javascript"></script>#}
{#{% addtoblock "css" %}<link href="{% static 'alby/plugins/smart-table/dist/excel-bootstrap-table-filter-style.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}#}
{% add_data "ng-requires" "djng.forms" %}
{% addtoblock "js" %}<script src="{% static 'alby/js/cart.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% add_data "ng-requires" "django.shop.cart" %}
{% addtoblock "css" %}<link href="{% static 'alby/css/modals.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% page_url "shop-watch-list" as shop_watch_list_url %}{% if not shop_watch_list_url %}{% url "shop-watch-list" as shop_watch_list_url %}{% endif %}
<div class="shop-cart" shop-cart="{% url 'parametric-list' %}">
    {% block shop-cart-head %}
	<div class="row lead text-muted" ng-if="cart.num_items==0">
		<div class="col">
			{% trans "There are no items in the cart." %}
		</div>
	</div>
{% endblock shop-cart-head %}
{% load i18n cms_tags sass_tags sekizai_tags %}
{% block shop-cart-body %}
	<div class="shop-list-item row border-top py-2" shop-cart-item ng-repeat="cart_item in cart.items track by $index">
{#	{% verbatim %} {{ cart_item }}{% endverbatim %}#}
		<div class="col-12 col-md-3" ng-bind-html="cart_item.summary.media">
			{# rendered by ProductSerializer using template "(myshop|shop)/products/cart-{product_model}-media.html" #}
		</div>
		<div class="col-6 col-md-3">
            <p ng-repeat="(name, value) in cart_item.extra" ng-if="name!=='settings'" class="bot" style="margin-bottom: 0;">
                <small>{% verbatim %}{{ name }}: {{ value }}{% endverbatim %}</small>
            </p>
        </div>
		<div class="col-6 col-md-2">
            <div ng-if="cart_item.item_status=='ok'">
                <a href="#"
                   ng-init="getPartsDetail('/catalog/parametric-list/parametric-data/', cart_item.product, cart_item.summary.product_model, cart_item.extra, cart_item.url)"
                   ng-click="getPartsDetail('/catalog/parametric-list/parametric-data/', cart_item.product, cart_item.summary.product_model, cart_item.extra, cart_item.url)"
                   class="nav-link" data-toggle="modal-data-part"
                   data-target="#PartDetailModalCenter({% verbatim %}{{ $index }}{% endverbatim %})">
                    <button class="btn btn-info btn-sm" ng-click="editDialog.open(cart_item, partList, materials)">
                        {% trans "Detalisation" %}
                    </button>
                </a>
            </div>
            <h4 ng-if="cart_item.item_status=='pending'">
                <img src="/media/filer_public/a0/0a/a00a51fa-5086-4e52-adf5-7a31529c2e35/loading.gif" style="width:40%" />
                    {% trans "Waiting..." %}
                </a>
            </h4>
        </div>
	<edit-person-dialog model="editDialog"></edit-person-dialog>
		<div class="col-12 col-md-4 ">
			<div class="row align-items-center ">
{#	{% block shop-cart-item-input %}#}
{#				<div class="col">#}
{#					<div class="form-inline text-nowrap flex-nowrap justify-content-end mb-1 lead">#}
{#						<input type="number" class="form-control" ng-model="cart_item.quantity" min="1" ng-change="updateParametrictQuantity(cart_item)" />#}
{#					</div>#}
{#					<div class="row text-muted text-nowrap mb-1" ng-repeat="extra_row in cart_item.extra_rows">#}
{#						<div class="col text-right" ng-bind="extra_row.label"></div>#}
{#						<div class="col text-right" ng-bind="extra_row.amount"></div>#}
{#					</div>#}
{##}
{#                </div>#}
{#	{% endblock %}#}
	{% block shop-cart-item-controls %}
				<div class="col">
					<div class="row">
						<div class="col mb-2">
							<button type="button" class="ml-auto btn btn-sm btn-secondary btn-block shop-item-control" ng-click="deleteCartItem(cart_item)">
								<span class="fa fa-trash-o mr-2"></span>{% trans "Remove" %}
							</button>
						</div>
					</div>
				</div>
	{% endblock %}
			</div>
		</div>
{#	{% verbatim %}{{ cart_item['extra']['settings'] }}  {% endverbatim %}#}
{#	{% verbatim %}{{ partList[cart_item.id] }}  {% endverbatim %}#}
	</div>
	{% include "dxfgen/list/modal-editable.html" %}
{% endblock shop-cart-body %}
{% block shop-cart-foot %}
	<div class="row">
		<div class="col-6 col-md-6 order-md-last border-top">
			<div class="row py-2">

			<table class="table" ng-if="showSheetTable==1">

				  <!-- Table head -->
				  <thead class="table-info">
					<tr>
					  <th>#</th>
					  <th>{% trans "Sheet name" %}</th>
					  <th>{% trans "Sheet sheet area m2" %}</th>
					  <th>{% trans "Parts area" %}</th>
					</tr>
				  </thead>
				  <!-- Table head -->

				  <!-- Table body -->
				  <tbody>
					<tr ng-repeat="sheet in resObj track by $index">
						<th scope="row">{% verbatim %}{{ $index + 1 }}{% endverbatim %}</th>
					  <td>{% verbatim %}{{ sheet.name }}{% endverbatim %}</td>
					  <td>{% verbatim %}{{ sheet.area }}{% endverbatim %}</td>
					  <td>{% verbatim %}{{ sheet.area }}{% endverbatim %}</td>
					</tr>
				  </tbody>
				  <!-- Table body -->
				</table>
			</div>
		{% if instance.right_extension %}
			{% render_plugin instance.right_extension %}
		{% endif %}

{#		<div ng-controller="ModalCtrl">#}
{#			<button ng-click="showNestingModal(cart.items, materials)">Click Me</button>#}
{#			{% include "nesting/modal-nesting.html" %}#}
{#		</div>#}
{#{% verbatim %}{{ cart.items }}{% endverbatim %}#}

	<button
		ng-if="cart.num_items!=0"
		class="btn btn-info btn-sm"
		ng-click="getAllMaterials(cart.items, partList)"
	>
		{% trans "Show material list" %}
	</button>
		</div>
		<div class="col-12 col-md-6">
		{% if instance.left_extension %}
			{% render_plugin instance.left_extension %}
		{% endif %}
		</div>
	</div>
{% endblock shop-cart-foot %}
</div>
