{% load i18n %}
<script id="part-detail-dialog.html" type="text/ng-template">
<!-- Modal -->
<div class="modal fade modal-data-part" id="PartDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
		  <span class="saved-message">{% verbatim %}{{ saved }}{% endverbatim %}</span>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
		  </button>
      </div>
    <div class="modal-body">
      <table id="table" class="table table-bordered table-sm table-responsive">
        <thead>
          <tr class="table-info">
            <th class="align-middle">{% translate "Icon" %}</th>
            <th class="align-middle">{% translate "Name" %}</th>
            <th class="align-middle">{% translate "Width" %}</th>
            <th class="align-middle">{% translate "Height" %}</th>
            <th class="align-middle">{% translate "Thick" %}</th>
            <th class="align-middle">{% translate "Material" %}</th>
            <th class="align-middle">{% translate "Edge by Width" %}</th>
            <th class="align-middle">{% translate "Edge by Height" %}</th>
            <th class="align-middle">{% translate "area, mm2" %}</th>
            <th class="align-middle">{% translate "Texture" %}</th>
            <th class="align-middle">{% translate "Quantity" %}</th>
            <th class="align-middle">{% translate "Rotation" %}</th>
            <th class="align-middle">{% translate "Priority" %}</th>
            <th class="align-middle">{% translate "Mirror Allow" %}</th>
{#            <th class="filter align-middle">{% translate "Draft (dxf)" %}</th>#}
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="part in model.partList.show" ng-init="stngs=model.cart_item.extra.settings[part.part_id]">
            <td>
				<img src="{% verbatim %}{{ part.part_img }}{% endverbatim %}" />
			</td>
            <td>{% verbatim %}{{ part.name }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ part.alter_prop[1] }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ part.alter_prop[2] }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ part.alter_prop[0] }}{% endverbatim %}</td>
            <td>
              <select
                      ng-init="val=getMaterialById(stngs.material, model.materials)"
                      ng-model="val"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'material', val.id)"
                      ng-options="option.name for option in model.materials track by option.id"
              >
                  {% verbatim %}{{ option.name }}{% endverbatim %}
              </select>
            </td>
            <td>
                <select
                      ng-model="stngs.edges.width"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'edges', {'width':stngs.edges.width, 'height':stngs.edges.height})"
                      ng-options="option for option in [0,1,2]"
                >
                </select>
            </td>
            <td>
                <select
                      ng-model="stngs.edges.height"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'edges', {'width':stngs.edges.width, 'height':stngs.edges.height})"
                      ng-options="option for option in [0,1,2]"
                >
                </select>
            </td>
            <td>{% verbatim %}{{ part.area }}{% endverbatim %}</td>
            <td>
                <select
                      ng-model="val.txtr"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'texture', val.txtr)"
                      ng-options="item.value as item.name for item in [{value:false, name:'N'},{value:true, name:'Y'}]"
				></select>
            </td>
            <td>
                <input
                        type="number" min="1" max="100" class="form-control"
						ng-init="stngs.quantity=model.cart_item.quantity"
                        ng-model="stngs.quantity"
                        ng-change="updateParametrictItem(model.cart_item, part.part_id, 'quantity', stngs.quantity)"
                        >
            </td>
            <td>
                <select
                      ng-init="rot=converRotationToLang(stngs.rotation)"
                      ng-model="rot"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'rotation', converRotationToLang(rot))"
                      ng-options="option for option in [0, 15, 30, 45, 90, 180, 'Any']"
				></select>
            </td>
            <td>
                <select
                      ng-init="prior=converPriority(stngs.priority)"
                      ng-model="prior"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'priority', converPriority(prior))"
                      ng-options="option for option in ['Higest', 'Hight', 'Normal', 'Low', 'Lowest']"
				></select>
                    {% verbatim %}{{ option }}{% endverbatim %}
            </td>
            <td>
                <select
                      ng-model="stngs.mirror"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'mirror', stngs.mirror)"
                      ng-options="item.value as item.name for item in [{value:0, name:'N'},{value:1, name:'Y'}]"
				></select>
            </td>
{#            <td><a href="{% verbatim %}{{ part.file_path }}{% endverbatim %}">{% translate "Download" %}</a></td>#}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-up-footer">
	  <a
			  class="btn btn-info btn-sm"
			  type="submit"
			  href="/cad/drafts/{% verbatim %}{{model.cart_item.id}}{% endverbatim %}"
	  >
          {% trans "Download part's drafts" %}
      </a>
    </div>
{#    <div class="modal-footer">#}
{#       <span>.</span>#}
{#      <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" aria-label="Close">#}
{#          Close#}
{#      </button>#}
{#    </div>#}
    </div>
  </div>
</div>
</script>
{#  <script>#}
{#    // Use the plugin once the DOM has been loaded.#}
{#    $(function () {#}
{#      // Apply the plugin#}
{#      $('#table').excelTableFilter();#}
{#    });#}
{#  </script>#}
