{% load i18n %}
<script id="part-detail-dialog.html" type="text/ng-template">
<!-- Modal -->
<div class="modal fade" id="PartDetailModalStaic" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
		  <h6 class="text-uppercase">{% translate "Part files list" %}</h6>

		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
		  </button>
      </div>
    <div class="modal-body">
      <table id="table" class="table table-bordered table-sm table-responsive">
        <thead>
          <tr class="table-info">
            <th class="filter align-middle">{% translate "Icon" %}</th>
            <th class="filter align-middle">{% translate "Name" %}</th>
            <th class="filter align-middle">{% translate "Width" %}</th>
            <th class="filter align-middle">{% translate "Height" %}</th>
            <th class="filter align-middle">{% translate "Thick" %}</th>
            <th class="filter align-middle">{% translate "Material" %}</th>
            <th class="filter align-middle">{% translate "Edge by Width" %}</th>
            <th class="filter align-middle">{% translate "Edge by Height" %}</th>
            <th class="filter align-middle">{% translate "area, mm2" %}</th>
            <th class="filter align-middle">{% translate "Texture" %}</th>
            <th class="filter align-middle">{% translate "Quantity" %}</th>
            <th class="filter align-middle">{% translate "Draft (dxf)" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="part in model.partList.show" ng-init="stngs=model.cart_item.extra.settings[part.part_id]">
            <td><img src="{% verbatim %}{{ part.part_img }}{% endverbatim %}" /></td>
            <td>{% verbatim %}{{ part.name }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ part.alter_prop[1] }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ part.alter_prop[2] }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ part.alter_prop[0] }}{% endverbatim %}</td>
            <td>
              <select
                      ng-init="val=getMaterialById(stngs.material, model.materials)"
                      ng-model="val"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'material', val.id)"
                      ng-options="option.name for option in model.materials track by option.id"
              >
                  {% verbatim %}{{ option.name }}{% endverbatim %}
              </select>
            </td>
            <td>
                <select
                      ng-model="stngs.edges.width"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'edges', {'width':stngs.edges.width, 'height':stngs.edges.height})"
                      ng-options="option for option in [0,1,2]"
                >
                </select>
            </td>
            <td>
                <select
                      ng-model="stngs.edges.height"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'edges', {'width':stngs.edges.width, 'height':stngs.edges.height})"
                      ng-options="option for option in [0,1,2]"
                >
                </select>
            </td>
            <td>{% verbatim %}{{ part.area }}{% endverbatim %}</td>
            <td>
                <select
                      ng-init="vv=converBoolToLang(val.txtr)"
                      ng-model="vv"
                      ng-change="updateParametrictItem(model.cart_item, part.part_id, 'texture', converBoolToLang(vv))"
                      ng-options="option for option in ['N', 'Y']"
                >
            </td>
            <td>
                <input
                        type="number" min="1" max="10" class="form-control"
                        ng-model="stngs.quantity"
                        ng-change="updateParametrictItem(model.cart_item, part.part_id, 'quantity', stngs.quantity)"
                        >
            </td>
            <td><a href="{% verbatim %}{{ part.file_path }}{% endverbatim %}">{% translate "Download" %}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
</script>
{#  <script>#}
{#    // Use the plugin once the DOM has been loaded.#}
{#    $(function () {#}
{#      // Apply the plugin#}
{#      $('#table').excelTableFilter();#}
{#    });#}
{#  </script>#}