{#{% extends "alby/pages/baseapi.html" %}#}
{% load static cms_tags i18n sekizai_tags sass_tags static cms_tags sekizai_tags djng_tags i18n %}

	{% render_block "css" %}
	{% cms_toolbar %}
	<main>
<div class="bootstrap-wrapper">

	{% block main-content %}{% placeholder "Main Content" inherit or %}
		<div class="container">
			<div class="row shop-starter-template">
				<div class="col">
					<h1>Base Template</h1>
					<p class="lead">This document does not contain any content yet.</p>
				</div>
			</div>
		</div>
	{% endplaceholder %}{% endblock main-content %}
</div>
	</main>
