{% load static cms_tags sekizai_tags djng_tags i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="albyShop">
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="{{ ROBOTS_META_TAGS }}" />
	<meta name="description" content="{% block meta-description %}{% endblock %}" />
	{% block head %}{% endblock head %}
	{% render_block "css" %}
</head>

{% addtoblock "js" %}<script src="{% static 'node_modules/angular/angular.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-sanitize/angular-sanitize.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-i18n/' %}{% djng_locale_script 'ru' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-animate/angular-animate.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'alby/js/jquery-3.4.1.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'alby/js/popper.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'alby/js/bootstrap.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'alby/js/mdb.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}

<body>
	{% cms_toolbar %}
	<header>
	{% block header %}{% endblock %}
	</header>

	{% block toast-messages %}{% include "shop/messages.html" %}{% endblock %}
	<main>
	{% block breadcrumb %}{% endblock %}

	{% block main-content %}
		<div class="container">
			<div class="row shop-starter-template">
				<div class="col">
					<h1>Base Template</h1>
					<p class="lead">This document does not contain any content yet.</p>
				</div>
			</div>
		</div>
	{% endblock main-content %}
	</main>
	<footer class="footer">
		{% block footer %}

		{% endblock footer %}
	</footer>
	{% render_block "js" %}
	<script type="text/javascript">
	angular.module('albyShop', ['ngAnimate', 'ngSanitize', {% with_data "ng-requires" as ng_requires %}
		{% for module in ng_requires %}'{{ module }}'{% if not forloop.last %}, {% endif %}{% endfor %}{% end_with_data %}
	]).config(['$httpProvider', '$locationProvider', '$sanitizeProvider', function($httpProvider, $locationProvider, $sanitizeProvider) {
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$locationProvider.html5Mode({
			enabled: true,
			requireBase: false,
			rewriteLinks: false
		});
		$sanitizeProvider.addValidAttrs(['srcset']);
	}]){% with_data "ng-config" as configs %}
		{% for config in configs %}.config({{ config }}){% endfor %};
	{% end_with_data %}
	</script>

{% block endblock %}{% endblock %}
{#<script>#}
{#    window.intergramId = "494314601";#}
{#    window.intergramCustomizations = {#}
{#        titleClosed: 'Мы онлайн!',#}
{#        titleOpen: 'Напишите нам, мы онлайн!',#}
{#        introMessage: 'Здесь Вы можете оформить заказ',#}
{#        autoResponse: 'Добрый день.',#}
{#        autoNoResponse: 'Извините, в данный момент мы не можем ответить так быстро, как Вам бы хотелось,' +#}
{#                        'но Вы всегда можете оставить своии контактные данные, или позвонить по номеру +375-29-601-57-11' +#}
{#			'Хорошего Вам дня!',#}
{#        mainColor: "#007bff",#}
{#        alwaysUseFloatingButton: false#}
{#    };#}
{#</script>#}
{#<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>#}

</body>

</html>

