{% extends "alby/pages/base.html" %}
{% load static cms_tags i18n sekizai_tags sass_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block head %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% static 'alby/css/default.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
	{% addtoblock "css" %}<link href="{% static 'alby/css/mdb.min.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% endblock head %}

{% block header %}
{#	{% include "alby/pages/navbar.html" with navbar_classes="navbar-expand-lg navbar-light bg-light fixed-top" %}#}
	{% include "alby/pages/../navbar/navbar-new.html" %}
{% endblock header %}

{% block breadcrumb %}
	{% placeholder "Breadcrumb" %}
{% endblock breadcrumb %}

{% block main-content %}{% placeholder "Main Content" inherit or %}
<div class="container">
	<div class="row shop-starter-template">
		<div class="col">
			<h1>Default Template</h1>
			<p class="lead">Use this placeholder as a quick way to start editing a new CMS page.<br/>
			All you have to do is to append <code>?edit</code> to the URL and switch to “Structure” mode.</p>
		</div>
	</div>
</div>
{% endplaceholder %}{% endblock main-content %}

{% block footer %}
	<footer class="footer">
	{% static_placeholder "Static Footer" or %}
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	{% endstatic_placeholder %}
	</footer>
{% endblock footer %}

