{% load i18n %}
<script id='part-nesting-dialog.html' type="text/ng-template">
<div nesting-modal>
      <table id="table" class="table table-bordered table-sm">
        <thead>
          <tr class="table-info">
            <th class="filter align-middle">{% translate "Name" %}</th>
            <th class="filter align-middle">{% translate "Width" %}</th>
            <th class="filter align-middle">{% translate "Height" %}</th>
            <th class="filter align-middle">{% translate "Thick" %}</th>
            <th class="filter align-middle">{% translate "area, m2" %}</th>
            <th class="filter align-middle">{% translate "Texture" %}</th>
            <th class="filter align-middle">{% translate "Quantity" %}</th>
            <th class="filter align-middle">{% translate "Part gap" %}</th>
            <th class="filter align-middle">{% translate "Edge gap" %}</th>
          </tr>
        </thead>
        <tbody>
{#          <tr ng-repeat="part in item.nestMaterials" ng-init="stngs=model.cart_item.extra.settings[part.part_id]">#}
          <tr ng-repeat="sheet in item.nestMaterials track by $index">
            <td >{% verbatim %}{{ sheet.name }}{% endverbatim %}</td>
			<td><input type="number" ng-model="sheet.width" ng-value="sheet.width" ng-change="updateNestSettings(sheet, $index)" min="200" max="10000" class="form-control" /></td>
			<td><input type="number" ng-model="sheet.height" ng-value="sheet.height" ng-change="updateNestSettings(sheet, $index)" min="200" max="10000" class="form-control" /></td>
            <td>{% verbatim %}{{ sheet.thick }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ sheet.width*sheet.height/1000000 }}{% endverbatim %}</td>
            <td>
				<select
				  ng-model="sheet.txtr"
				  ng-change="updateNestSettings(sheet, $index)"
				  ng-options="item.value as item.name for item in [{value:false, name:'N'},{value:true, name:'Y'}]"
                >
			</td>
            <td><input type="number" ng-init="sheet.quantity=10" ng-model="sheet.quantity" ng-value="sheet.quantity" ng-change="updateNestSettings(sheet, $index)" min="1" max="99" class="form-control" /></td>
            <td><input type="number" ng-init="sheet.prt_gap=8" ng-model="sheet.prt_gap" ng-value="sheet.prt_gap" ng-change="updateNestSettings(sheet, $index)" min="1" max="99" class="form-control" /></td>
            <td><input type="number" ng-init="sheet.edge_gap=8" ng-model="sheet.edge_gap" ng-value="sheet.edge_gap" ng-change="updateNestSettings(sheet, $index)" min="1" max="99" class="form-control" /></td>
          </tr>
        </tbody>
      </table>
	<button ng-init="url='{% url "nesting-app:start_nesting" %}'" ng-click="setNestingData(url, item.nestMaterials)" class="btn btn-danger btn-sm">Send data</button>
	</div>
</script>

