{% load i18n cms_tags static cascade_tags sass_tags sekizai_tags %}
{% load page_url from cms_tags %}
{% load render_plugin from cascade_tags %}

{% block shop-cart-head %}
{% endblock shop-cart-head %}

{% block shop-cart-body %}

{% endblock shop-cart-body %}

{% block shop-cart-foot %}
	<div class="row">
		<div class="col-12 col-md-12 order-md-last border-top">
			{% if instance.right_extension %}
				{% render_plugin instance.right_extension %}
			{% endif %}
		</div>
		<div class="col-12 col-md-6">
			{% if instance.left_extension %}
				{% render_plugin instance.left_extension %}
			{% endif %}
		</div>
	</div>
{% endblock shop-cart-foot %}
