{% load static i18n %}
{% for nest in nest_list %}
	{% if nest.done %}<a href="{% url 'nesting-app:nesting_result' nest.task_id %}">{% endif %}
		<div class="shop-list-item row border-top py-2">
			<div class="col-12 col-md-4">
				{# rendered by ProductSerializer using template "(myshop|shop)/products/cart-{product_model}-media.html" #}
				{% get_media_prefix as media %}
				<img src="{{ media }}{{ nesting_ico.file }}" />
			</div>
			<div class="col-12 col-md-8">
				<div class="row align-items-center">
					<div class="col">
						<div class="form-inline text-nowrap flex-nowrap justify-content-end mb-1 lead">
							<div class="px-1"></div>
						</div>
						<div class="row text-muted text-nowrap mb-1">
							<div class="col text-right">{% trans nest.status %}</div>
							<div class="col text-right">{{ nest.created_at }}</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
{#							<div class="col mb-2">#}
{#								<button type="button" class="ml-auto btn btn-sm btn-info btn-block shop-item-control">#}
{#									<span class="fa fa-heart-o mr-2">3 sadfasf</span>#}
{#								</button>#}
{#							</div>#}
							<div class="col mb-2">
								<button type="button" class="ml-auto btn btn-sm btn-secondary btn-block shop-item-control">
									<span class="fa fa-trash-o mr-2">{% trans "Remove" %}</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
{% endfor %}
