{% load i18n cms_tags static cascade_tags sass_tags sekizai_tags nesting_tags %}
{% load page_url from cms_tags %}
{% load render_plugin from cascade_tags %}

{% addtoblock "css" %}<link href="{% sass_src 'shop/css/list-items.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#<script src="{% static 'alby/plugins/smart-table/dist/excel-bootstrap-table-filter-bundle.js' %}" type="text/javascript"></script>#}
{#{% addtoblock "css" %}<link href="{% static 'alby/plugins/smart-table/dist/excel-bootstrap-table-filter-style.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}#}
<style>
	.nest-preview {
    width: 300px;
    height: auto;
}
.table > tbody > tr > td {
 	vertical-align: middle;
	text-align: center;
}
</style>
    {% block shop-cart-head %}
	<div class="row lead text-muted">
		<div class="col">

		</div>
	</div>
{% endblock shop-cart-head %}
{% block shop-cart-body %}
	{% if results %}
		<div>
	  <table id="table" class="table table-bordered table-sm">
		<thead>
		  <tr class="table-info">
			<th class="filter align-middle">{% translate "Preview" %}</th>
			<th class="filter align-middle">{% translate "Name" %}</th>
			<th class="filter align-middle">{% translate "Length" %}</th>
			<th class="filter align-middle">{% translate "Width" %}</th>
			<th class="filter align-middle">{% translate "Parts area, m2" %}</th>
			<th class="filter align-middle">{% translate "Parts on sheet" %}</th>
			<th class="filter align-middle">{% translate "Sheets count" %}</th>
			<th class="filter align-middle">{% translate "Sheet utilization" %}</th>
			<th class="filter align-middle">{% translate "Nest efficiency" %}</th>
			<th class="filter align-middle">{% translate "Nest lenght" %}</th>
			<th class="filter align-middle">{% translate "Download, dxf" %}</th>
		  </tr>
		</thead>
	  	<tbody>
			{% for item in results %}
				<tr>
					<td>
						<img class="nest-preview" src="{% s3_url item.files.1 %}" alt="{{ item.sheet_name }}"/>
					</td>
					<td>{{ item.sheet_name }}</td>
					<td>{{ item.sheet_length }}</td>
					<td>{{ item.sheet_width }}</td>
					<td>{{ item.total_part_area }}</td>
					<td>{{ item.parts_in_nest }}</td>
					<td>{{ item.nest_quantity }}</td>
					<td>{% percent item.sheet_utilisation %}%</td>
					<td>{% percent item.nest_efficiency %}%</td>
					<td>{{ item.nest_length }}</td>
					<td>
						<a
								href="{% url 'nesting-app:download_nesting' nest_id=item.nesting_id nest_detail_id=item.id %}"
						>Download
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	  </table>
	</div>
	{% endif %}
	{% if nest_list %}
		{% include "nesting/nesting-list.html" %}
	{% endif %}
{% endblock shop-cart-body %}

{% block shop-cart-foot %}
	<div class="row">
		<div class="col-12 col-md-12 order-md-last border-top">
			{% if instance.right_extension %}
				{% render_plugin instance.right_extension %}
			{% endif %}
		</div>
		<div class="col-12 col-md-6">
			{% if instance.left_extension %}
				{% render_plugin instance.left_extension %}
			{% endif %}
		</div>
	</div>
{% endblock shop-cart-foot %}
