{% load static sekizai_tags %}{% spaceless %}
<div class="shop-cart" shop-cart="{% url 'parametric-list' %}">
    <div shop-cart-item ng-if="cart.items[0]">
        {% with instance_link=instance.link|default:"#" download=instance.download_name instance_css_classes=instance.css_classes instance_inline_styles=instance.inline_styles %}
{#            <a ng-click="getPartListData('/cad/partlist/')" href="{{ instance_link }}" {{ instance.html_tag_attributes }} aria-pressed="false"{% if instance_css_classes %} class="{{ instance_css_classes }}"{% endif %}{% if instance_inline_styles %} style="{{ instance_inline_styles }}"{% endif %}>{{ icon_left }}{{ instance.content }}{{ icon_right }}</a>#}
            <a href="{% url 'dxfgen:partslist_csv' %}" {{ instance.html_tag_attributes }} aria-pressed="false"{% if instance_css_classes %} class="{{ instance_css_classes }}"{% endif %}{% if instance_inline_styles %} style="{{ instance_inline_styles }}"{% endif %}>{{ icon_left }}{{ instance.content }}{{ icon_right }}</a>
        {% endwith %}{% endspaceless %}
    </div>
</div>
