<div class="media">
	<a href="{{ product.get_absolute_url }}">
{% block sample-image %}{% include "shop/products/sample-image.html" %}{% endblock %}

	</a>
	<div class="media-body">
		<h5 class="mt-3"><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></h5>
	</div>
</div>
