{% load bootstrap_tags static i18n cms_tags menu_tags sekizai_tags sass_tags alby_tags %}
{% spaceless %}
{% addtoblock "css" %}<link href="{% sass_src 'alby/css/navbar.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% page_url 'shop-watch-list' as shop_watch_list_url %}{% if not shop_watch_list_url %}{% url "shop-watch-list" as shop_watch_list_url %}{% endif %}

{% block navbar %}
<div class="super_container header">

    <!-- Header -->
        <!-- Top Bar -->
{#        <div class="top_bar">#}
            <div class="container">
                <div class="row">
{#                    <div class="col d-flex flex-row">#}
{##}
					<div class="top_bar_contact_item">
						<div class="navbar-expand-lg">
							<div class="float-left mr-2">
							  <button type="button" id="navbar-button" class="navbar-toggler">
								  <i class="fa fa-bars"></i>
							  </button>
							</div>
						</div>
					</div>
{#						<div class="top_bar_contact_item">#}
{#                            <div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>+375 29 601 57 11#}
{#                        </div>#}
{#                        <div class="top_bar_contact_item ml-auto">#}
{#							<a href="mailto:info@alby.by"><div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt=""></div><b class="mobile_hide">info@alby.by</b></a>#}
{#                        </div>#}
						<div class="top_bar_contact_item ml-auto pc_show">
								<div class="logo logo_mobile"><a href="/">ALBY</a></div>
                        </div>
						<div class="top_bar_contact_item ml-auto">
							<a href="{{ shop_watch_list_url }}">
								<div class="top_bar_icon pc_show">
									<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" uib-tooltip="Список покупок" tooltip-placement="left" alt="">
								</div>
							</a>
                        </div>
						<div class="top_bar_contact_item">
							<div class="top_bar_icon pc_show">{% cart_icon %}</div>
                        </div>
{#                        <div class="top_bar_content ml-auto mobile_hide">#}
{#									{% include "alby/navbar/login-logout.html" %}#}
{#						</div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
        </div>
	<!-- Header Main -->
			{% include "alby/navbar/navbar-sidebar.html" %}

        <div class="header_main">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-2 col-2">
                        <div class="logo_container">
                            <div class="logo"><a href="/">ALBY</a></div>
                        </div>
                    </div> <!-- Search -->
                    <div class="col-lg-6 col-10 order-lg-2 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
									{% include "alby/navbar/search-form.html" with search_form_classes="form-inline" %}
                                </div>
                            </div>
                        </div>
                    </div> <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
								<div class="cart mobile_hide_2">
									<div class="cart_container d-flex flex-row align-items-center justify-content-end">
										{% get_media_prefix as media %}
										<div class="cart_content">
											{% include "alby/navbar/login-logout.html" %}
										</div>
									</div>
								</div>
                                <div class="wishlist_icon mobile_hide_2">
									{% if shop_watch_list_url %}
											{% page_attribute "menu_title" "shop-watch-list" as tooltip %}
										{% else %}
											{% url "shop-watch-list" as shop_watch_list_url %}
											{% trans "Watch List" as tooltip %}
										{% endif %}
										{% if shop_watch_list_url %}
											<a class="nav-link" href="{{ shop_watch_list_url }}" title="{{ tooltip }}">
												<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" uib-tooltip="{{ tooltip }}" tooltip-placement="left" alt="">
											</a>
										{% endif %}
								</div>
{#                                <div class="wishlist_content">#}
{#                                    <div class="wishlist_text">#}
{#										{% trans "Wishlist" %}#}
{#									</div>#}
{#                                    <div class="wishlist_count">10</div>#}
{#                                </div>#}
                            </div>
							<!-- Cart -->
                            <div class="cart mobile_hide_2">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">

                                    <div class="cart_content">
										{% page_url "shop-watch-list" as shop_watch_list_url %}
											{% if current_page.reverse_id == 'shop-cart' or current_page.reverse_id == 'shop-watch-list' %}
												{% cart_icon without %}
											{% else %}
												{% cart_icon unsorted %}
											{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<!-- Main Navigation -->
        <nav class="main_nav" role="navigation">
            <div class="container" uib-collapse="!isNavCollapsed">
                <div class="row">
                    <div class="col">
                        <div class="main_nav_content d-flex flex-row">
                            <!-- Categories Menu -->
							 <div class="col">
								<div class="main_nav_content d-flex flex-row" >
									<div class="standard_dropdown main_nav_dropdown">
										<ul class="standard_dropdown main_nav_dropdown">
											{% main_menu "bootstrap4/menu/ng-navbar.html" %}
										</ul>
									</div>
								</div>
							 </div>
                            <!-- Menu Trigger -->
                        </div>
                    </div>
                </div>
            </div>
        </nav> <!-- Menu -->

{#		<nav class="navbar navbar-light navbar-static bg-faded" role="navigation">#}
{#		  <a class="navbar-brand" href="#">Navbar</a>#}
{#		  <ul class="nav navbar-nav">#}
{#			<li class="nav-item">#}
{#			  <a class="nav-link" href="#">Home</a>#}
{#			</li>#}
{#			<!-- insert more nav-items if you so choose -->#}
{#			<button class="navbar-toggler pull-xs-right" id="navbarSideButton" type="button">#}
{#			  &#9776;#}
{#			</button>#}
{#		  </ul>#}
{#			<!-- navbar-side will go here -->#}
{#		 <ul class="navbar-side" id="navbarSide">#}
{#			  <li class="navbar-side-item">#}
{#				<a href="#" class="side-link">Signup</a>#}
{#			  </li>#}
{#			  <!-- insert more side-items if you so choose -->#}
{#		 </ul>#}
{#		</nav>#}


{#<nav class="nav-item shop-primary-menu">#}
{#	<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">#}
{#		<ul class="navbar-nav flex-wrap align-content-between w-100">#}
{#			<li class="mx-auto"></li>#}
{#			{% include "shop/navbar/login-logout.html" with item_class="shop-secondary-menu" %}#}
{#			{% main_menu "bootstrap4/menu/ng-navbar.html" %}#}
{#		</ul>#}
{#	</div>#}
{#</nav>#}

</div>

	{% addtoblock "js" %}<script src="{% static 'node_modules/ui-bootstrap4/dist/ui-bootstrap-tpls.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "ui.bootstrap" %}

	{% addtoblock "js" %}<script src="{% static 'alby/js/ng-nav-navbar.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'alby/js/navbar_sidebar.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'shop/js/navbar.js' %}" type="text/javascript"></script>{% endaddtoblock %}
	{% add_data "ng-requires" "django.shop.navbar" %}
{% endblock navbar %}

{% endspaceless %}
