<!-- Sidebar navigation -->
{#<ul id="slide-out" class="side-nav custom-scrollbar" style="transform: translateX(-300px);">#}
<ul id="slide-out" class="side-nav custom-scrollbar hide-sidebar" >
  <!-- Logo -->
  <li>
	<div class="logo-wrapper waves-light waves-effect waves-light">
	  <a href="#">
		<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center">
	  </a>
	</div>
  </li>
	<li>
	<div class="top_bar_contact_item">
		<div class="float-left mr-2">
		  <a href="#" id="navbar-close" class="button-collapse">
			  <i class="fa fa-bars"></i>
		  </a>
		</div>
	</div>
	</li>
  <!-- Logo -->
  <!-- Social -->
  <li>
	<ul class="social">
	  <li>
		<a class="fb-ic">

		  <i class="fab fa-facebook-f"> </i>

		</a>

	  </li>

	  <li>

		<a class="pin-ic">

		  <i class="fab fa-pinterest"> </i>

		</a>

	  </li>

	  <li>

		<a class="gplus-ic">

		  <i class="fab fa-google-plus-g"> </i>

		</a>

	  </li>

	  <li>

		<a class="tw-ic">

		  <i class="fab fa-twitter"> </i>

		</a>

	  </li>

	</ul>

  </li>
  <!-- Social -->

  <!-- Search Form -->
  <li>

	<form class="search-form" role="search">

	  <div class="form-group md-form mt-0 pt-1 waves-light waves-effect waves-light">

		<input type="text" class="form-control" placeholder="Search">

	  </div>

	</form>

  </li>
  <!-- Search Form -->

  <!-- Side navigation links -->
  <li>

	<ul class="collapsible collapsible-accordion">

	  <li>

		<a class="collapsible-header waves-effect arrow-r">

		  <i class="fa fa-shopping-cart"></i> Cart page

		  <i class="fa fa-angle-down rotate-icon"></i>

		</a>

		<div class="collapsible-body">

		  <ul>

			<li>

			  <a href="../cart/cart-v1.html" class="waves-effect">Cart V.1</a>

			</li>

			<li>

			  <a href="../cart/cart-v2.html" class="waves-effect">Cart V.2</a>

			</li>

		  </ul>

		</div>

	  </li>

	  <li>

		<a class="collapsible-header waves-effect arrow-r">

		  <i class="far fa-hand-pointer"></i> Category page

		  <i class="fa fa-angle-down rotate-icon"></i>

		</a>

		<div class="collapsible-body">

		  <ul>

			<li>

			  <a href="../category/category-v1.html" class="waves-effect">Category V.1</a>

			</li>

			<li>

			  <a href="../category/category-v2.html" class="waves-effect">Category V.2</a>

			</li>

			<li>

			  <a href="../category/category-v3.html" class="waves-effect">Category V.3</a>

			</li>

			<li>

			  <a href="../category/category-v4.html" class="waves-effect">Category V.4</a>

			</li>

		  </ul>

		</div>

	  </li>

	  <li>

		<a class="collapsible-header waves-effect arrow-r">

		  <i class="far fa-bookmark"></i> Homepage

		  <i class="fa fa-angle-down rotate-icon"></i>

		</a>

		<div class="collapsible-body">

		  <ul>

			<li>

			  <a href="../homepage/homepage-v1.html" class="waves-effect">Homepage V.1</a>

			</li>

			<li>

			  <a href="../homepage/homepage-v2.html" class="waves-effect">Homepage V.2</a>

			</li>

			<li>

			  <a href="../homepage/homepage-v3.html" class="waves-effect">Homepage V.3</a>

			</li>

		  </ul>

		</div>

	  </li>

	  <li>

		<a class="collapsible-header waves-effect arrow-r">

		  <i class="fa fa-camera-retro"></i> Product page

		  <i class="fa fa-angle-down rotate-icon"></i>

		</a>

		<div class="collapsible-body">

		  <ul>

			<li>

			  <a href="../product/product-v1.html" class="waves-effect">Product V.1</a>

			</li>

			<li>

			  <a href="../product/product-v2.html" class="waves-effect">Product V.2</a>

			</li>

		  </ul>

		</div>

	  </li>

	  <li>

		<a href="../contact/contact.html" class="collapsible-header waves-effect">

		  <i class="fa fa-envelope"></i> Contact</a>

	  </li>

	</ul>

  </li>

  <!-- Side navigation links -->
  <div class="sidenav-bg mask-strong"></div>

</ul>
<div id="sidenav-backdrop" class=""></div>

